# KATAS randoms

## Detect **PANAGRAM**

A pangram is a sentence that contains every single letter of the alphabet at least once. For example, the sentence "The quick brown fox jumps over the lazy dog" is a pangram, because it uses the letters A-Z at least once (case is irrelevant).

Given a string, detect whether or not it is a pangram. Return True if it is, False if not. Ignore numbers and punctuation.

In [1]:
def is_pangram(string):
    string = string.lower()
    letras = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
    for letra in letras:
        if letra not in string:
            return False
        return True
string = "The quick brown fox jumps over the lazy dog"
print(is_pangram(string))

True

## Count the number of Duplicates

Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

Example
"abcde" -> 0 # no characters repeats more than once

"aabbcde" -> 2 # 'a' and 'b'

"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`)

"indivisibility" -> 1 # 'i' occurs six times

"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice

"aA11" -> 2 # 'a' and '1'

"ABBA" -> 2 # 'A' and 'B' each occur twice

In [2]:
def duplicate_count(text):
    text = text.lower()
    contador = {}
    duplicados = 0 
    
    for caracter in text:
        if caracter in contador:
            contador[caracter] += 1
        else:
            contador[caracter] = 1
    
    for valor in contador.values():
        if valor > 1:
            duplicados += 1
   
    return duplicados
    
text= "11AaBba"
print(duplicate_count(text))

3

## **Define a function that removes duplicates from an array of non negative numbers and returns it as a result.**


The order of the sequence has to stay the same.

Examples:

Input -> Output
[1, 1, 2] -> [1, 2]
[1, 2, 1, 1, 3, 2] -> [1, 2, 3]

In [3]:
seq = 1, 2, 3, 1, 4
def distinct(seq): 
    contador = {} # Diccionario vacío para almacenar los elementos únicos
    resultado = [] # Lista para mantener los elementos en orden
    for i in (seq): 
        if i not in contador: # Si el número no está en el diccionario
            contador[i] = True  # Lo añadimos como clave al diccionario
            resultado.append(i) # Añadimos el número a la lista de resultado
    return resultado
print(distinct(seq))

[1, 2, 3, 4]

#### **Resolucion mas corta y simple en codewars**

In [4]:
seq = 1, 2, 3, 1, 4
set(seq)

{1, 2, 3, 4}

**Paso a paso:**
set(seq):

Un set es una estructura de datos que elimina automáticamente los duplicados. Cuando conviertes la lista seq en un conjunto, todos los duplicados desaparecen.

**Nota importante: Los conjuntos no mantienen el orden de los elementos, lo que hace necesario el siguiente paso.**

In [5]:
seq = 1, 2, 3, 1, 4
def distinct(seq):
    return sorted(set(seq), key = seq.index)
print(distinct(seq))

[1, 2, 3, 4]

**sorted(set(seq), key=seq.index):**

sorted(): Ordena los elementos del conjunto.

key=seq.index: Aquí está la clave (literalmente) de la solución. El argumento key le dice a sorted() cómo ordenar los elementos.
seq.index es una función que devuelve el índice de la primera aparición de un elemento en la lista original (seq).
Así, el sorted() ordena los elementos del conjunto (que eliminó duplicados) en el mismo orden en que aparecieron originalmente en la lista.

**En resumen:
Se eliminan los duplicados con set(seq).**

**Luego, se usa sorted() para ordenar los elementos según su posición original en la lista seq.**

Ejemplo:
Supón que seq = [3, 1, 2, 3, 4, 1, 2].

Primero, set(seq) elimina duplicados: {1, 2, 3, 4} (sin orden).

Luego, sorted(set(seq), key=seq.index) ordena los elementos según la posición en la que aparecen por primera vez en seq, devolviendo [3, 1, 2, 4].

Es una solución elegante y eficiente que combina varias herramientas de Python de forma concisa.

## Create a function that returns the sum of the two lowest positive numbers given an array of minimum 4 positive integers. No floats or non-positive integers will be passed.


For example, when an array is passed like [19, 5, 42, 2, 77], the output should be 7.

[10, 343445353, 3453445, 3453545353453] should return 3453455.

In [6]:
lista = [19, 5, 42, 2, 77]
def sumar(lista):
    lista.sort()
    result = lista[0] + lista[1]
    return result
print(sumar(lista))

7

#### Resolucion + simple en Codewars

In [7]:
numbers = 19, 5, 42, 2, 77
def sum_two_smallest_numbers(numbers):
    return sum(sorted(numbers)[:2])
print(sum_two_smallest_numbers(numbers))

7

## Take 2 strings s1 and s2 including only letters from a to z.


Return a new sorted string (alphabetical ascending), the longest possible, containing distinct letters - each taken only once - coming from s1 or s2.

Ejemplo:

a = "xyaabbbccccdefww"     ///      b = "xxxxyyyyabklmopq"

longest(a, b) -> "abcdefklmopqwxy"

a = "abcdefghijklmnopqrstuvwxyz"

longest(a, a) -> "abcdefghijklmnopqrstuvwxyz"

In [8]:
s1 = "gxyaabbbccccdefww"
s2 = "xxxxyyyyabklmopq"
def long_string(string):
    string = list(s1 + s2)
    string.sort()
    resultado = []
    for caracter in string:
        if caracter not in resultado: 
            resultado.append(caracter)
    resultado = ''.join(resultado)
    return resultado
print(long_string(string))

abcdefgklmopqwxy

#### Resolucion + simple en Codewars

In [9]:
def longest(a1, a2):
    return "".join(sorted(set(a1 + a2)))

## Complete the function that accepts a string parameter, and reverses each word in the string.

#### Resolucion + simple en Codewars

In [10]:
def reverse_words(str):
  #go for it
  newStr = []
  for i in str.split(' '):
      newStr.append(i[::-1])
  return ' '.join(newStr)

## Your task is to make a function that can take any non-negative integer as an argument and return it with its digits in descending order. Essentially, rearrange the digits to create the highest possible number.

In [11]:
def Descending_Order(num):
    return int(''.join(sorted(list(str(num)), reverse=True)))

## Implement a function that adds two numbers together and returns their sum in binary. The conversion can be done before, or after the addition.

The binary number returned should be a string.

Examples:(Input1, Input2 --> Output (explanation)))

1, 1 --> "10" (1 + 1 = 2 in decimal or 10 in binary)
5, 9 --> "1110" (5 + 9 = 14 in decimal or 1110 in binary)

# KATAS de Fundamentals

## LEVEL 1: "Easy peasy lemon squeezy" (OBLIGATORIO*)

### [Incorrect division method](https://www.codewars.com/kata/54d1c59aba326343c80000e7)

In [12]:
def divide_numbers(x,y):
    return x / y

In [13]:
divide_numbers(15,2)

7.5

### [Keep Hydrated!](https://www.codewars.com/kata/582cb0224e56e068d800003c)

Nathan loves cycling.

Because Nathan knows it is important to stay hydrated, he drinks 0.5 litres of water per hour of cycling.

You get given the time in hours and you need to return the number of litres Nathan will drink, rounded to the smallest value.

For example:

time = 3 ----> litres = 1

time = 6.7---> litres = 3

time = 11.8--> litres = 5

In [14]:
import math
def litres(time):
    water = time * 0.5
    return math.floor(water)

In [15]:
litres(12.5)

6

### [Find the smallest integer in the array](https://www.codewars.com/kata/55a2d7ebe362935a210000b2)

Given an array of integers your solution should find the smallest integer.

For example:

Given [34, 15, 88, 2] your solution will return 2
Given [34, -345, -1, 100] your solution will return -345
You can assume, for the purpose of this kata, that the supplied array will not be empty.

In [92]:
def find_smallest_int(arr):
    arr = min(arr)
    return arr

In [93]:
arr = [1, 34, 15, 88, 2]
print(find_smallest_int(arr))

1

### [Remove First and Last Character](https://www.codewars.com/kata/56bc28ad5bdaeb48760009b0)

It's pretty straightforward. Your goal is to create a function that removes the first and last characters of a string. You're given one parameter, the original string. You don't have to worry about strings with less than two characters.

In [6]:
def remove_char(txt):
    if len(txt) < 2:
        print ("Menos de 2 caracteres")
    else:
        return txt[1:-1]

In [ ]:
remover('Calabaza')

In [ ]:
remover('No')

Resolucion + simple en Codewars

In [9]:
def remove_char(s):
    return '' if len(s) <= 2 else s[1:-1]

## Level 2:  "Peasy"

### [Deodorant Evaporator](https://www.codewars.com/kata/5506b230a11c0aeab3000c1f)

**This program tests the life of an evaporator containing a gas.**

We know the content of the evaporator (content in ml), the percentage of foam or gas lost every day (evap_per_day) and the threshold (threshold) in percentage beyond which the evaporator is no longer useful. All numbers are strictly positive.

The program reports the nth day (as an integer) on which the evaporator will be out of use.

*Example:*
evaporator(10, 10, 5) -> 29

**Note:**
Content is in fact not necessary in the body of the function "evaporator", you can use it or not use it, as you wish. Some people might prefer to reason with content, some other with percentages only. It's up to you but you must keep it as a parameter because the tests have it as an argument.

In [6]:
def evaporator(content, evap_per_day, threshold): 
    days = 0 
    gas_remaining = content  # Inicializa el gas restante con el contenido
    threshold = content * (threshold / 100)  # Convierte el umbral a valor absoluto

    while gas_remaining > threshold:  # Mientras haya más gas que el umbral
        gas_lost = gas_remaining * (evap_per_day / 100)  # Calcula el gas perdido
        gas_remaining -= gas_lost  # Actualiza el gas restante
        days += 1  # Incrementa el contador de días

    return days  # Devuelve el número de días

In [7]:
evaporator(10,10,5)

29

Resolucion + simple en Codewars

In [ ]:
def evaporator(content, evap_per_day, threshold):
    n = 0
    current = 100
    percent = 1 - evap_per_day / 100.0
    while current > threshold:
        current *= percent
        n += 1
    return n

### [See You Next Happy Year](https://www.codewars.com/kata/5ae7e3f068e6445bc8000046)

**Scenario**
You're saying good-bye your best friend , *See you next happy year* .

Happy Year is the year with only distinct digits , (e.g) 2018

**Task**

Given a year, Find The next happy year or The closest year You'll see your best friend

**Notes**

- Year Of Course always Positive .
- Have no fear , It is guaranteed that the answer exists .
- It's not necessary that the year passed to the function is Happy one .
- Input Year with in range (1000  ≤  y  ≤  9000)


***Input >> Output Examples:***

nextHappyYear (7712) ==> return (7801)

**Explanation:**

As the Next closest year with only distinct digits is 7801 .


nextHappyYear (8989) ==> return (9012)

**Explanation:**

As the Next closest year with only distinct digits is 9012 .


nextHappyYear (1001) ==> return (1023)

**Explanation:**

As the Next closest year with only distinct digits is 1023 .

In [100]:
def next_happy_year(number): 
    number = number + 1
    while True:
        number_str = str(number)
        set_digits = set(number_str)
        if len(set_digits) == len(number_str):
            print ("Found next happy year:", number)
            return number
        number = number + 1

In [ ]:
next_happy_year(8989)

Resolucion + simple en Codewars

In [102]:
def next_happy_year(year):
    for n in range(year+1, 9999):
        if len(set(str(n))) == 4:
            return n

### [Alphabet war](https://www.codewars.com/kata/59377c53e66267c8f6000027)

##### **Introduction**

There is a war and nobody knows - the alphabet war!

There are two groups of hostile letters. The tension between left side letters and right side letters was too high and the war began.

##### **Task**

Write a function that accepts fight string consists of only small letters and return who wins the fight. When the left side wins return Left side wins!, when the right side wins return Right side wins!, in other case return Let's fight again!.

***The left side letters and their power:***

w - 4

p - 3

b - 2
 
s - 1

***The right side letters and their power:***

m - 4
 
q - 3

d - 2

z - 1

The other letters don't have power and are only victims.

##### **Example**

AlphabetWar("z");        ============> Right side wins!

AlphabetWar("zdqmwpbs"); ============> Let's fight again!

AlphabetWar("zzzzs");    ============> Right side wins!

AlphabetWar("wwwwwwz");  ============> Left side wins!

In [26]:
dict_left = {"w" : 4, "p" : 3, "b" : 2, "s" : 1}
dict_right = {"m" : 4, "q" : 3, "d" : 2, "z" : 1}
alphabet = [dict_left, dict_right]

In [27]:
def alpha_war (letter_war): # letter_war es la variable que me daran
    letter_war = list(letter_war) #Convertirlo en lista para tener cada letra x separado 
    valores_left = [] # Le pido que almacene los valores encontrados del diccionario left en esa lista
    valores_right = [] # Lo mismo con el right
    for letter in letter_war: # Iterar sobre cada letra en la lista
        if letter in dict_left: # que busque si aparece esa la letra en el diccionario
            valores_left.append(dict_left[letter]) # si aparece, la agregue a la lista creada en linea 3
        if letter in dict_right:
            valores_right.append(dict_right[letter])
    suma_left = sum(valores_left) # Sumamos cada elemento de la lista (class int)
    suma_right = sum(valores_right)
    print("Suma de valores en dict_left: " + str(suma_left)) # Imprimo el resultado de cada suma
    print("Suma de valores en dict_right: " + str(suma_right))
    if suma_left > suma_right: # Comparo los resultados e imprimo quien gana
        return("Left side wins!")
    elif suma_left < suma_right: 
        return("Right side wins!")
    else:
        return("Let's fight again!")

In [28]:
letter_war = "wwwwwwz"
alpha_war(letter_war)

Suma de valores en dict_left: 24
Suma de valores en dict_right: 1

'Left side wins!'

In [29]:
letter_war = "zdqmwpbs"
alpha_war(letter_war)

Suma de valores en dict_left: 10
Suma de valores en dict_right: 10

"Let's fight again!"

Resolucion + simple en Codewars

In [22]:
def alphabet_war(fight):
    d = {'w':4,'p':3,'b':2,'s':1,
         'm':-4,'q':-3,'d':-2,'z':-1}
    r = sum(d[c] for c in fight if c in d)
    
    return {r==0:"Let's fight again!",
            r>0:"Left side wins!",
            r<0:"Right side wins!"
            }[True]

Otra resolucion + simple en Codewars

In [23]:
def alphabet_war(fight):
  left = {'w':4,'p':3,'b':2,'s':1}
  rigth = {'m':4,'q':3,'d':2,'z':1}
  leftp = 0
  rigthp = 0
  for e in fight:
    leftp += left.get(e,0)
    rigthp += rigth.get(e,0)
  if leftp > rigthp:
    return'Left side wins!'
  elif rigthp > leftp:
    return 'Right side wins!'
  else:
    return "Let's fight again!"

Otra solucion mas corta

In [24]:
dict_left = {"w": 4, "p": 3, "b": 2, "s": 1}
dict_right = {"m": 4, "q": 3, "d": 2, "z": 1}
def alpha_war (letter_war): # letter_war es la variable que me daran
    letter_war = list(letter_war) #Convertirlo en lista para tener cada letra x separado 
    valores_left = 0 # Le pido que almacene los valores encontrados del diccionario left en esa lista
    valores_right = 0 # Lo mismo con el right
    for letter in letter_war: # Iterar sobre cada letra en la lista
        if letter in dict_left: # que busque si aparece esa la letra en el diccionario
            valores_left += dict_left[letter] # si aparece, la agregue a la lista creada en linea 3
        if letter in dict_right:
            valores_right += dict_right[letter]
    if valores_left > valores_right: # Comparo los resultados e imprimo quien gana
        return("Left side wins!")
    elif valores_left < valores_right: 
        return("Right side wins!")
    else:
        return("Let's fight again!")

In [25]:
letter_war = "zdqmwpbs"
alpha_war(letter_war)

"Let's fight again!"

## Level 3: "Lemon Squeezy"

### [Counting in the Amazon](https://www.codewars.com/kata/55b95c76e08bd5eef100001e)

The Arara are an isolated tribe found in the Amazon who count in pairs. For example one to eight is as follows:

1 = anane

2 = adak

3 = adak anane

4 = adak adak

5 = adak adak anane

6 = adak adak adak

7 = adak adak adak anane

8 = adak adak adak adak



**Take a given number and return the Arara's equivalent.**


e.g.

count_arara(3) # -> 'adak anane'

count_arara(8) # -> 'adak adak adak adak'

countArara 3 // -> "adak anane"

countArara 8 // -> "adak adak adak adak"

In [54]:
def count_arara(n):
    result = []
    while n >= 2:
        result.append("adak")
        n_n = n - 2
        n = n_n
    if n == 1:
        result.append ("anane")
    return " ".join(result)

In [ ]:
count_arara(17)

Resolucion + simple en Codewars

In [58]:
def count_arara(n):
    return " ".join(['adak']*(n//2) + ['anane']*(n%2))

Otra resolucion + simple en Codewars

In [59]:
def count_arara(n):
    # our independent cases are at 1 and 2 so we return immediately once we n equals any of them
    if n == 1:
       return "anane"
    if n == 2: 
       return "adak"
    #using a recursive function we return for any by adding "adak" to the strings for every previous value
    return "adak" + " " + count_arara(n-2)

### [Pandemia](https://www.codewars.com/kata/5e2596a9ad937f002e510435)

The world is in quarantine! There is a new pandemia that struggles mankind. Each continent is isolated from each other but infected people have spread before the warning. 

You would be given a map of the world in a type of string:

    string s = "01000000X000X011X0X"
    
    '0' : uninfected
    
    '1' : infected
    
    'X' : ocean

- The virus can't spread in the other side of the ocean.
- If one person is infected every person in this continent gets infected too.
- Your task is to find the percentage of human population that got infected in the end.
  
- Return the percentage % of the total population that got infected.

The first and the last continent are not connected!

Example:

     start: map1 = "01000000X000X011X0X"
     
     end:   map1 = "11111111X000X111X0X"
     
     total = 15
     
     infected = 11
     
     percentage = 100*11/15 = 73.33333333333333
 
- For maps without oceans "X" the whole world is connected.
- For maps without "0" and "1" return 0 as there is no population.

In [7]:
def pandemia(mapa):
    mapa = mapa.split("X")
    nuevo_mapa = []
    for i in mapa:
        if "1" in i:
            replaced_mapa = i.replace("0", "1")
        else: 
            replaced_mapa = i
        nuevo_mapa.append(replaced_mapa) 
    poblacion = 0
    for i in nuevo_mapa:
        poblacion = poblacion + (len(i))
    if poblacion == 0:
        return 0
    infectados = 0
    for i in nuevo_mapa:
        infectados = infectados + i.count("1")
    porcentaje = 100.0 * infectados / poblacion
    return porcentaje

In [ ]:
pandemia("01000000X000X011X0X")

# Practicando Python

## Nivel 8 Python

### [Find numbers which are divisible by given number](https://www.codewars.com/kata/55edaba99da3a9c84000003b/python)

**Description:**

Complete the function which takes two arguments and returns all numbers which are divisible by the given divisor. First argument is an array of numbers and the second is the divisor.

Example
(Input1, Input2 --> Output)
 [1, 2, 3, 4, 5, 6], 2 --> [2, 4, 6]

In [38]:
def divisible_by (numbers, divisor):
    nuevo_numeros = []
    for i in numbers:
        if i % divisor == 0:
            nuevo_numeros.append(i)
    return(nuevo_numeros)

In [40]:
divisible([3, 6], 3)

[3, 6]

### [String ends with?](https://www.codewars.com/kata/51f2d1cafc9c0f745c00037d/train/python)

Complete the solution so that it returns true if the first argument(string) passed in ends with the 2nd argument (also a string).

In [1]:
def solution(text, ending):
    if ending in text:
        return True
    else:
        return False

In [2]:
solution('abc', 'bc')

True

### [Find the first non-consecutive number](https://www.codewars.com/kata/58f8a3a27a5c28d92e000144)

Your task is to find the first element of an array that is not consecutive.

By not consecutive we mean not exactly 1 larger than the previous element of the array.

E.g. If we have an array [1,2,3,4,6,7,8] then 1 then 2 then 3 then 4 are all consecutive but 6 is not, so that's the first non-consecutive number.

If the whole array is consecutive then return null.

The array will always have at least 2 elements1 and all elements will be numbers. The numbers will also all be unique and in ascending order. The numbers could be positive or negative and the first non-consecutive could be either too!

In [62]:
def consecutivo(numbers):
    for i in range(1, len(numbers)): # el start del range es 1, que es la posicion 1 en la lista, que sera el numero 2. El stop del range es el 7 (que es el numero de elementos que hay en a lista. De esta forma, nos aseguramos que se incluya en la iteracion el ultimo elemento)
        if numbers[i] != numbers[i-1]+1: # OJO!!! En el bucle, i toma valores de 0 a 3, que son los índices de numbers. Cuando usamos numbers[i], obtienes los elementos de la lista correspondientes a esos índices.
            return numbers[i] # pedimos que devuelva el valor ese.
    else: 
        return None

In [63]:
consecutivo([1,2,3,4,6,7,8])

6

Mejor solucion en CW

In [64]:
def first_non_consecutive(arr):
    if not arr: return 0
    for i, x in enumerate(arr[:-1]):
        if x + 1 != arr[i + 1]:
            return arr[i + 1]

In [67]:
first_non_consecutive([1,2,3,4,5,6,7,8])

### [Sum without highest and lowest number](https://www.codewars.com/kata/576b93db1129fcf2200001e6)

**Task**

Sum all the numbers of a given array ( cq. list ), except the highest and the lowest element ( by value, not by index! ).

The highest or lowest element respectively is a single element at each edge, even if there are more than one with the same value.

Mind the input validation.

**Example**

{ 6, 2, 1, 8, 10 } => 16

{ 1, 1, 11, 2, 3 } => 6

**Input validation**

If an empty value ( null, None, Nothing, nil etc. ) is given instead of an array, or the given array is an empty list or a list with only 1 element, return 0.

In [84]:
def sum_array(arr):
    if arr is None or arr == 0:
        return 0
    elif len(arr) == 0 or len(arr) == 1:
        return 0
    else:
        arr.sort()
        arr.pop(-1)
        arr.pop(0)
    return(sum(arr))

In [85]:
arr=[]
sum_array(arr)

0

Solucion + simple CW

In [86]:
def sum_array(arr):
    if arr == None or len(arr) < 3:
        return 0
    return sum(arr) - max(arr) - min(arr)